{
	"extends": "eslint:recommended",
	"env": {
		"node": true,
		"browser": true,
		"es6": true
	},
	"globals": {
		"chrome": true,
		"gravatar": true,
		"moment": true,
		"Metrics": true,
		"MG": true,
		"d3": true,
		"describe": true,
		"it": true,
		"expact": true
	},
	"rules": {
		"eol-last": 0,
		"quotes": [
			2,
			"single"
		],
		"no-console": "off"
	},
	"parserOptions": {
		"ecmaVersion": 8,
		"sourceType": "module"
	},
	"plugins": [
      "html"
    ]
}