{
	"env": {
		"node": true,
		"browser": true
	},
	"globals": {
		"chrome": true
	},
	"rules": {
		"eol-last": 0,
		"quotes": [
			2,
			"single"
		]
	},
	"parserOptions": {
		"ecmaVersion": 8,
		"sourceType": "module"
	}
}