@import "../../../node_modules/iview/src/styles/index.less";

/**
 * Custom styles
 */

html {
	
}

body {
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	min-width: 250px;
	padding: 20px;
	height: 300px;
}

#login {
	width: 100%;
	margin: 0 auto;

	.main-title {
		text-align: center;
		font-size: 32px;
		img {
			width: 62px;
			height: 62px;
		}
	}

	.ivu-input-wrapper, .i-switch {
		margin-bottom: 15px;
	}

	.ivu-btn {
		width: 100%;
	}
}
